
.body {
    font-family: 'Gilroy', sans-serif; 
    margin: 0;
    padding: 0;
}

.gilroy-light {
    font-family: 'Gilroy', sans-serif;
    font-weight: 300;
}

.gilroy-regular {
    font-family: 'Gilroy', sans-serif;
    font-weight: 400;
}

.gilroy-medium {
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
}

.gilroy-bold {
    font-family: 'Gilroy', sans-serif;
    font-weight: 700;
}

.gilroy-extrabold {
    font-family: 'Gilroy', sans-serif;
    font-weight: 800;
}

.gilroy-heavy {
    font-family: 'Gilroy', sans-serif;
    font-weight: 900;
}
